body{
    background-color: #d8c292;
    font-family: ;
}

h1{
    color: #5b5b5b;
}

h2{
    color: #5b5b5b;
}

h3{
    color: #5b5b5b
}

h4{
    color: #5b5b5b;
}

p{
    color: #b67171;
}

address{
    color: #b67171;
}

a:link{
    color: #3a6351;
}
a:hover{
    color: #e84545;
}
a:visited{
    color: #96bb7c;
}
