body{
    background-color: #fde8cd;
    font-family: ;
}

h1{
    color: #025955;
}

h2{
    color: #025955;
}

h3{
    color: #025955
}

h4{
    color: #025955;
}

p{
    color: #433520;
}

address{
    color: #433520;
}

a:link{
    color: #3a6351;
}
a:hover{
    color: #e84545;
}
a:visited{
    color: #96bb7c;
}